<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.limit.mapper.InspectorPesticideMapper">
    
    <resultMap type="inspectorPesticide" id="inspectorPesticideResult">
        <result property="inspectorPesticideID"    column="JCY_JCXM_ID"    />
        <result property="inspectorID"    column="JCY_ID"    />
        <result property="pesticideID"    column="JCXM_ID"    />
        <result property="detectionCenterID"    column="JCZX_ID"    />
        <result property="isValid"    column="SJYXX_BS"    />
    </resultMap>

    <sql id="selectinspectorPesticideVo">
        select JCY_JCXM_ID, JCY_ID, JCXM_ID, JCZX_ID, SJYXX_BS from xlk_jcy_jcxm
    </sql>

    <select id="selectinspectorPesticideList" parameterType="inspectorPesticide" resultMap="inspectorPesticideResult">
        <include refid="selectinspectorPesticideVo"/>
        <where>
            <if test="inspectorPesticideID != null "> and JCY_JCXM_ID = #{inspectorPesticideID}</if>
            <if test="inspectorID != null "> and JCY_ID = #{inspectorID}</if>
            <if test="pesticideID != null "> and JCXM_ID = #{pesticideID}</if>
            <if test="detectionCenterID != null "> and JCZX_ID = #{detectionCenterID}</if>
            <if test="isValid != null "> and SJYXX_BS = #{isValid}</if>
        </where>
    </select>
    
    <select id="selectinspectorPesticideById" parameterType="Long" resultMap="inspectorPesticideResult">
        <include refid="selectinspectorPesticideVo"/>
        where JCY_JCXM_ID = #{inspectorPesticideID}
    </select>

    <!--查询检测仪器-检测方法是否存在-->
    <select id="selectInspectorPesticideExist" parameterType="inspectorPesticide" resultMap="inspectorPesticideResult">
        select JCY_ID,JCXM_ID from xlk_jcy_jcxm
        <where>
            <if test="inspectorID != null "> JCY_ID = #{inspectorID}</if>
            <if test="pesticideID != null "> and JCXM_ID = #{pesticideID}</if>
            <if test="detectionCenterID != null "> and JCZX_ID = #{detectionCenterID}</if>
        </where>
    </select>
        
    <insert id="insertInspectorPesticide" parameterType="inspectorPesticide" useGeneratedKeys="true" keyProperty="inspectorPesticideID">
        insert into xlk_jcy_jcxm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inspectorID != null">JCY_ID,</if>
            <if test="pesticideID != null">JCXM_ID,</if>
            <if test="detectionCenterID != null">JCZX_ID,</if>
            <if test="isValid != null">SJYXX_BS,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inspectorID != null">#{inspectorID},</if>
            <if test="pesticideID != null">#{pesticideID},</if>
            <if test="detectionCenterID != null">#{detectionCenterID},</if>
            <if test="isValid != null">#{isValid},</if>
         </trim>
    </insert>

    <update id="updateinspectorPesticide" parameterType="inspectorPesticide">
        update xlk_jcy_jcxm
        <trim prefix="SET" suffixOverrides=",">
            <if test="inspectorID != null">JCY_ID = #{inspectorID},</if>
            <if test="pesticideID != null">JCXM_ID = #{pesticideID},</if>
            <if test="detectionCenterID != null">JCZX_ID = #{detectionCenterID},</if>
            <if test="isValid != null">SJYXX_BS = #{isValid},</if>
        </trim>
        <where>
            <if test="inspectorPesticideID != null "> JCY_JCXM_ID = #{inspectorPesticideID}</if>
            <if test="inspectorID != null "> and JCY_ID = #{inspectorID}</if>
            <if test="pesticideID != null "> and JCXM_ID = #{pesticideID}</if>
            <if test="detectionCenterID != null "> and JCZX_ID = #{detectionCenterID}</if>
            <if test="isValid != null "> and SJYXX_BS = #{isValid}</if>
        </where>
    </update>

    <delete id="deleteinspectorPesticideById" >
        delete from xlk_jcy_jcxm where JCZX_ID = #{detectionCenterID} and JCY_JCXM_ID = #{inspectorPesticideID}
    </delete>

    <delete id="deleteinspectorPesticideByIds" >
        delete from xlk_jcy_jcxm where JCZX_ID = #{detectionCenterID} and JCY_JCXM_ID in
        <foreach item="inspectorPesticideID" collection="inspectorPesticideIDs" open="(" separator="," close=")">
            #{inspectorPesticideID}
    </foreach>
    </delete>
</mapper>